[credential]
	helper = store
[user]
	name = Mizuki
	email = mbaba@kanolab.net
[init]
	defaultBranch = main
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
